<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Nuestros Articulos</h2>

            <a th:href="@{/cliente/nuevo}">Nuevo Cliente</a>
            <div th:if="${clientes !=null and !clientes.empty}">
                <table border="1">
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>

                    </tr>
                    <tr th:each="articulo : ${articulos}">
                        <td>[[${articulo.descripcion}]]</td>
                        <td style="text-align: right">[[${#numbers.formaDecimal(articulo.precio,3,2)}]]</td>
                        <td> <a th:href="@{/carrito/Agregar/} + ${articulo.idArticulo}"> Agregar </td>
                    </tr>            
                </table>
            </div>

            <div th:if="${articuloss ==null or articulos.empty}">
                <h2>No hay clientes que mostrar</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
